# --- Compiled Output & Build Directories ---
/dist
/tmp
/out-tsc
/bazel-out
/coverage
/build/
target/
!**/src/main/**/target/
!**/src/test/**/target/
.nbbuild/
/nbdist/
/nb-gradle/
node_modules
/libpeerconnection.log

# --- Node ---
/node_modules
npm-debug.log
yarn-error.log

# --- Maven ---
api/.mvn/wrapper/maven-wrapper.jar

# --- Logs & Misc ---
testem.log
/connect.lock
.sass-cache/
/typings

# --- Editors & IDEs ---
.idea/
.idea
.project
.classpath
.factorypath
.c9/
*.launch
.settings/
.settings
*.sublime-workspace
*.iml
*.iws
*.ipr

# --- VS Code ---
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


# --- Others/Sistema ---
.DS_Store
Thumbs.db

# --- Angular ---
/.angular/cache
# --- Angular CLI ---
web/.angular/

# --- JAVA Tools ---
.springBeans
.sts4-cache
.apt_generated

# --- History ---
.history/*

# --- Explicit files ---
HELP.md
