@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Titan+One&display=swap');
@import '../../styles/buttons';
@import '../../styles/profile-shared';


body {
  background-color: #141627;
  color: #d7dbee;
  font-family: 'Poppins', 'Helvetica Neue', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

